<!-- Aside Start-->
<aside class="left-panel">
    <!-- brand -->
    <div class="logo">
        <a href="index.html" class="logo-expanded">
            <i class="ion-social-buffer"></i>
            <span class="nav-label">Momo</span>
        </a>
    </div>
    <!-- / brand -->
    <!-- Navbar Start -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li class=""><a href="{:url('admin/index/index')}"><i class="ion-home"></i> <span class="nav-label">数据统计</span></a></li>
            <li class="has-submenu"><a href="#"><i class="ion-android-note"></i> <span class="nav-label">订单管理</span></a>
                <ul class="list-unstyled">
                    <li><a href="{:url('admin/order/index')}">订单列表</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#"><i class="ion-ios7-keypad-outline"></i> <span class="nav-label">分类管理</span></a>
                <ul class="list-unstyled">
                    <li><a href="{:url('admin/category/index')}">分类列表</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#"><i class="ion-person"></i> <span class="nav-label">会员管理</span></a>
                <ul class="list-unstyled">
                    <li><a href="{:url('admin/member/index')}">会员列表</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#"><i class="ion-nuclear"></i> <span class="nav-label">权限管理</span></a>
                <ul class="list-unstyled ">
                    <li><a href="{:url('admin/rule/rule_group')}">角色管理</a></li>
                    <li><a href="{:url('admin/user/index')}">管理员管理</a></li>
                    <li><a href="{:url('admin/rule/index')}">权限管理</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#"><i class="ion-settings"></i> <span class="nav-label">系统设置</span></a>
                <ul class="list-unstyled">
                    <li><a href="{:url('admin/webset/index')}">站点配置</a></li>
                    <li><a href="{:url('admin/database/index')}">数据库</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#"><i class="ion-merge"></i> <span class="nav-label">拓展管理</span></a>
                <ul class="list-unstyled">
                    <li><a href="{:url('admin/expand/wxpay')}">微信支付</a></li>
                    <li><a href="{:url('admin/expand/alipay')}">支付宝支付</a></li>
                    <li><a href="{:url('admin/expand/qrcode')}">生成二维码</a></li>
                    <li><a href="{:url('admin/expand/email')}">邮件服务器</a></li>
                </ul>
            </li>
        </ul>
    </nav>

</aside>
<!-- Aside Ends-->