    <div class="clearfix grey-100 text-center">
        <!--Banner-->
        <div class="clearfix grey-100 text-center">
        <div class="row-col">
            <div class="row-cell v-b">
                <div class="item">
                    <div class="item-bg">
                    </div>
                    <div class="container p-y-lg p-xs-y-md m-b-md pos-rlt">
                        <h1 class="display-1 web-font l-s-n-3x m-t-lg m-b-md">我就是我 不一样的我</h1>
                        <h5 class="text-muted m-b-lg">分享本站到QQ群、微博以及 <span class="label accent">发布作品</span> 都可获得相应金币</h5>
                        <a href="/index.php/upload/" target="_blank" class="btn btn-lg p-x-lg phone-i-btn btn-outline b-skin text-skin b-2x">发布作品</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--新插件-->
    <div class="clearfix white p-t-lg p-b-md p-xs-t p-xs-b pos-rlt" style="z-index: 1">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-3 col-lg-3">
                    <h3 class="m-t-xs m-b-none phone-h2">
                        <i class="icon-eyeglasses text-skin md-36"></i>
                        最新插件
                    </h3>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-6 hidden-sm-down">
                    <ul class="nav nav-tabs btn-group z0">
                        <li class="nav-item">
                            <a class="btn tabsbtn active phonebtn p-x-md p-xs-x b-t-r-r b-b-r-r" href="" data-toggle="tab" data-target="#news">最新</a>
                        </li>
                        <li class="nav-item m-l-0">
                            <a class="btn tabsbtn phonebtn p-x-md p-xs-x text-skin no-radius" style="margin-left:-1px;" data-toggle="tab" data-target="#sales">销量</a>
                        </li>
                        <li class="nav-item m-l-0">
                            <a class="btn tabsbtn phonebtn p-x-md p-xs-x text-skin b-t-l-r b-b-l-r" style="margin-left:-1px;" data-toggle="tab" data-target="#frees">免费</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-3 text-right">
                    <a href="/index.php/upload/form/?category=17" target="_blank" class="btn phonebtn btn-outline rounded b-skin text-skin">
                        <i class="i i-file-plus m-r-xs"></i>
                        发布作品
                    </a>
                    <a href="/index.php/categories/all/" class="btn phonebtn-icon btn-icon b-2x b-skin skin rounded hover" title="更多作品">
                        <i class="icon-gengduo hover-rotate"></i>
                    </a>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane animated fadeIn active" id="news">
                    <div class="row text-skin-hover m-t">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                        <div class="box mb-co-b b-a">
                            <div class="item dark">
                                <div class="img-container fx-img-rotate-l fx-opt-zoom-out">
                                    <img data-original="http://www.ifugue.cn/static/uploads/items/21/e1bf21417094a4312c25f1b350d68629.jpg"  src="__THEME__/assets/images/load.png" alt="Wlop神作" class="img-responsive" style="display: block;">
                                    <div class="img-options">
                                        <div class="img-options-content">
                                            <a href="/index.php/items/21" target="_blank" class="btn danger text-white" title="查看详情">
                                                <i class="icon-magnifier-add"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="/index.php/items/21" target="_blank" class="md-btn md-raised md-fab md-mini m-r pos-rlt md-fab-offset pull-right white"><i class="icon-plus2 md-24"></i></a>
                            <div class="p-a">
                                <div class="text-muted">
                                    <a href="/index.php/items/21" target="_blank" title="更新日期" class="hidden-xs-down m-r"><i class="icon-clock m-r-xs"></i> 12-17</a>
                                    <a href="/index.php/items/21#comment" target="_blank" title="评论" class="m-r"><i class="icon-bubbles m-r-xs"></i> 0</a>
                                    <a href="/index.php/items/21" target="_blank" title="销量"><i class="icon-handbag m-r-xs"></i> 0</a>
                                </div>
                                <div class="h-2xx">
                                    <a href="/index.php/items/21" class="h6">Wlop神作</a>
                                </div>
                                <div class="clearfix m-t-xs">
                                    <div class="pull-left m-r-sm dropdown myDrop">
                                        <a data-toggle="ajaxUser" data-src="/index.php/user/portfolio/admin" href="/index.php/user/admin" class="pull-left myUserAjax">
											<span class="w-32 avatar">
											<img src="http://www.ifugue.cn/static/uploads/users/1/A_3212e96aa8e39679f5b4b7576cfe717f.jpg">
											</span>
                                        </a>
                                    </div>
                                    <a href="/index.php/user/admin" target="_blank" class="username pull-left m-t-sm clear">
                                        许三多
                                    </a>
                                    <div class="pull-right">
                                        <div class="h-32">
                                            <a href="/index.php/items/21" target="_blank" class="price">￥<span class="text-lg"> 10</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <div class="box mb-co-b b-a">
                                <div class="item dark">
                                    <div class="img-container fx-img-rotate-l fx-opt-zoom-out">
                                        <img data-original="http://www.ifugue.cn/static/uploads/items/21/e1bf21417094a4312c25f1b350d6862.jpg"  src="__THEME__/assets/images/load.png"" alt="Wlop神作" class="img-responsive" style="display: block;">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                <a href="/index.php/items/21" target="_blank" class="btn danger text-white" title="查看详情">
                                                    <i class="icon-magnifier-add"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/index.php/items/21" target="_blank" class="md-btn md-raised md-fab md-mini m-r pos-rlt md-fab-offset pull-right white"><i class="icon-plus2 md-24"></i></a>
                                <div class="p-a">
                                    <div class="text-muted">
                                        <a href="/index.php/items/21" target="_blank" title="更新日期" class="hidden-xs-down m-r"><i class="icon-clock m-r-xs"></i> 12-17</a>
                                        <a href="/index.php/items/21#comment" target="_blank" title="评论" class="m-r"><i class="icon-bubbles m-r-xs"></i> 0</a>
                                        <a href="/index.php/items/21" target="_blank" title="销量"><i class="icon-handbag m-r-xs"></i> 0</a>
                                    </div>
                                    <div class="h-2xx">
                                        <a href="/index.php/items/21" class="h6">Wlop神作</a>
                                    </div>
                                    <div class="clearfix m-t-xs">
                                        <div class="pull-left m-r-sm dropdown myDrop">
                                            <a data-toggle="ajaxUser" data-src="/index.php/user/portfolio/admin" href="/index.php/user/admin" class="pull-left myUserAjax">
											<span class="w-32 avatar">
											<img src="http://www.ifugue.cn/static/uploads/users/1/A_3212e96aa8e39679f5b4b7576cfe717f.jpg">
											</span>
                                            </a>
                                        </div>
                                        <a href="/index.php/user/admin" target="_blank" class="username pull-left m-t-sm clear">
                                            许三多
                                        </a>
                                        <div class="pull-right">
                                            <div class="h-32">
                                                <a href="/index.php/items/21" target="_blank" class="price">￥<span class="text-lg"> 10</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane animated fadeIn" id="sales">
                    <div class="row text-skin-hover m-t">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <div class="box mb-co-b b-a">
                                <div class="item dark">
                                    <div class="img-container fx-img-rotate-l fx-opt-zoom-out">
                                        <img data-original="http://www.ifugue.cn/static/uploads/items/21/e1bf21417094a4312c25f1b350d68629.jpg" src="__THEME__/assets/images/load.png" alt="Wlop神作" class="img-responsive">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                <a data-toggle="MobanBoxAjax" href="/index.php/items/screenshots/21" title="截图预览" class="btn skin m-r-md hidden-xs-down">
                                                    <i class="icon-eye"></i>
                                                </a>
                                                <a href="/index.php/items/21" target="_blank" class="btn danger text-white" title="查看详情">
                                                    <i class="icon-magnifier-add"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/index.php/items/21" target="_blank" class="md-btn md-raised md-fab md-mini m-r pos-rlt md-fab-offset pull-right white"><i class="icon-plus2 md-24"></i></a>
                                <div class="p-a">
                                    <div class="text-muted">
                                        <a href="/index.php/items/21" target="_blank" title="更新日期" class="hidden-xs-down m-r"><i class="icon-clock m-r-xs"></i> 12-17</a>
                                        <a href="/index.php/items/21#comment" target="_blank" title="评论" class="m-r"><i class="icon-bubbles m-r-xs"></i> 0</a>
                                        <a href="/index.php/items/21" target="_blank" title="销量"><i class="icon-handbag m-r-xs"></i> 0</a>
                                    </div>
                                    <div class="h-2xx">
                                        <a href="/index.php/items/21" target="_blank" class="h6">Wlop神作</a>
                                    </div>
                                    <div class="clearfix m-t-xs">
                                        <div class="pull-left m-r-sm dropdown myDrop">
                                            <a data-toggle="ajaxUser" data-src="/index.php/user/portfolio/admin" href="/index.php/user/admin" class="pull-left myUserAjax">
											<span class="w-32 avatar">
											<img src="http://www.ifugue.cn/static/uploads/users/1/A_3212e96aa8e39679f5b4b7576cfe717f.jpg">
											</span>
                                            </a>
                                        </div>
                                        <a href="/index.php/user/admin" target="_blank" class="username pull-left m-t-sm clear">
                                            许三多
                                        </a>
                                        <div class="pull-right">
                                            <div class="h-32">
                                                <a href="/index.php/items/21" target="_blank" class="price">￥<span class="text-lg"> 10</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="frees">
                    <div class="row text-skin-hover m-t">
                        <div class="col-xs-6 col-sm-6 col-md-3">
                            <div class="box mb-co-b b-a">
                                <div class="item dark">
                                    <div class="img-container fx-img-rotate-l fx-opt-zoom-out">
                                        <img data-original="http://www.ifugue.cn/static/uploads/items/21/e1bf21417094a4312c25f1b350d68629.jpg" src="http://www.ifugue.cn/static/uploads/items/21/e1bf21417094a4312c25f1b350d68629.jpg" alt="Wlop神作" class="img-responsive" style="display: block;">
                                        <div class="img-options">
                                            <div class="img-options-content">
                                                <a href="/index.php/items/21" target="_blank" class="btn danger text-white" title="查看详情">
                                                    <i class="icon-magnifier-add"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/index.php/items/21" target="_blank" class="md-btn md-raised md-fab md-mini m-r pos-rlt md-fab-offset pull-right white"><i class="icon-plus2 md-24"></i></a>
                                <div class="p-a">
                                    <div class="text-muted">
                                        <a href="/index.php/items/21" target="_blank" title="更新日期" class="hidden-xs-down m-r"><i class="icon-clock m-r-xs"></i> 12-17</a>
                                        <a href="/index.php/items/21#comment" target="_blank" title="评论" class="m-r"><i class="icon-bubbles m-r-xs"></i> 0</a>
                                        <a href="/index.php/items/21" target="_blank" title="销量"><i class="icon-handbag m-r-xs"></i> 0</a>
                                    </div>
                                    <div class="h-2xx">
                                        <a href="/index.php/items/21" class="h6">Wlop神作</a>
                                    </div>
                                    <div class="clearfix m-t-xs">
                                        <div class="pull-left m-r-sm dropdown myDrop">
                                            <a data-toggle="ajaxUser" data-src="/index.php/user/portfolio/admin" href="/index.php/user/admin" class="pull-left myUserAjax">
											<span class="w-32 avatar">
											<img src="http://www.ifugue.cn/static/uploads/users/1/A_3212e96aa8e39679f5b4b7576cfe717f.jpg">
											</span>
                                            </a>
                                        </div>
                                        <a href="/index.php/user/admin" target="_blank" class="username pull-left m-t-sm clear">
                                            许三多
                                        </a>
                                        <div class="pull-right">
                                            <div class="h-32">
                                                <a href="/index.php/items/21" target="_blank" class="price">￥<span class="text-lg"> 10</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--开发者-->
    <div class="clearfix white p-t-lg p-b-md p-xs-t p-xs-b pos-rlt" style="z-index: 0">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-8 col-md-6">
                    <h3 class="m-t-none m-b-none phone-h2">
                        <i class="icon-user-following text-skin md-36"></i>
                        开发者
                    </h3>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-6 text-right">
                    <a href="" class="btn phonebtn btn-outline rounded b-skin text-skin">
                        <i class="i i-file-plus m-r-xs"></i>
                        加入我们
                    </a>
                    <a href="" class="btn phonebtn-icon btn-icon b-2x b-skin skin rounded hover">
                        <i class="icon-gengduo hover-rotate"></i>
                    </a>
                </div>
            </div>
            <div class="row row-sm m-t-md ng-scope">
                <div class="col-xs-6 col-lg-3">
                    <div class="list-item box user-items b-a au-no-s r m-b">
						<span class="label rounded danger pos-abt text-xs m-r-xs" style="top: -.75rem; right: 10%">
						<b class="arrow bottom b-danger pull-in"></b>
                精英
						</span>
                        <a href="" target="_blank" title="许三多" class="list-left">
						<span class="w-64 avatar">
						<img alt="许三多" src="http://www.ifugue.cn/static/uploads/users/1/A_3212e96aa8e39679f5b4b7576cfe717f.jpg">
						<i class="on b-white bottom"></i>
						</span>
                        </a>
                        <div class="list-body">
                            <div class="text-ellipsis text-lg">
                                <a href="" target="_blank">许三多</a>
                            </div>
                            <small class="text-muted text-ellipsis">精英作者</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>