<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title> {if $siteTitle} {$siteTitle} {else /}OoBox{/if} | OoBox.org </title>
    <meta charset="utf-8">
    <meta name="keywords" content="关键词不屑">
    <meta name="description" content="抱歉，我不想写站点描述！">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="__THEME__/assets/images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="__THEME__/assets/images/logo.png">

    <link href="__THEME__/assets/animate/animate.min.css?v=__VER__" rel="stylesheet">
    <link rel="stylesheet" href="__THEME__/assets/bootstrap/dist/css/bootstrap.min.css?v=__VER__" type="text/css">
    <link rel="stylesheet" href="__THEME__/assets/styles/icon.css?v=__VER__" type="text/css">
    <link rel="stylesheet" href="__THEME__/assets/styles/app.css?v=__VER__" type="text/css">
    <link rel="stylesheet" href="" type="text/css" id="skinStyle">
    <script>
    window.mbBase = {
        headerFix: true,
        sidebarFix: true,
        top: true
    };
    </script>
    <script type="text/javascript" src="__STATIC__/scripts/sea.js?v=__VER__"></script>
    <script type="text/javascript">
        seajs.config({
            alias: {
                "jq": "lib/jquery/1.11.2/jq",
                "mz": "lib/modernizr/2.8.3/modernizr",
                "ajaxup": "plug/ajaxupload/swfupload",
                "ajaxupque": "plug/ajaxupload/swfupload.queue",
                "ajaxupfile": "plug/ajaxupload/fileprogress",
                "ajaxuphand": "plug/ajaxupload/handlers",
                "hchart": "plug/highcharts/highcharts",
                'mobanboxEditor': '/static/mbthemes/scripts/libs/jquery/mobanboxeditor/mb/js/mobanboxeditor.min'
            }
        });
    </script>
    <script src="/static/layer/layer.js?v=__VER__"></script>
    <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js?v=__VER__"></script>
    <script src="//cdn.staticfile.org/tether/1.1.1/js/tether.min.js?v=__VER__"></script>
    <script src="//cdn.staticfile.org/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js?v=__VER__"></script>
    <script src="//cdn.bootcss.com/pace/1.0.2/pace.min.js?v=__VER__"></script>
    <script src="//cdn.bootcss.com/jquery.lazyload/1.9.1/jquery.lazyload.min.js?v=__VER__"></script>
    <script src="//cdn.bootcss.com/jquery.pjax/1.9.6/jquery.pjax.min.js?v=__VER__"></script>
    <script src="__THEME__/scripts/app.min.js?v=__VER__"></script>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js?v=__VER__"></script>
    <script src="//cdn.bootcss.com/respond.js?v=__VER__/1.4.2/respond.min.js?v=__VER__"></script>
    <script src="__THEME__/scripts/ie/excanvas.js?v=__VER__"></script>
    <![endif]-->
</head>
<body>
<div class="app" id="app">