<!-- aside -->
<div id="aside" class="app-aside modal fade nav-expand folded md hides">
    <div class="left navside grey dk p-t-xs" layout="column">
        <div flex-no-shrink>
            <div class="nav-fold">
                <a href="#">
          <span class="pull-left">
            <img src="/static/mbthemes/assets/images/tx/a2.jpg" alt="..." class="w-40 r">
          </span>
                    <span class="clear hidden-folded p-l">
            <span class="block _500">{$userData.username}</span>
            <small class="block text-muted">{$userData.nickName}</small>
          </span>
                </a>
            </div>
        </div>
        <div flex class="hide-scroll">
            <nav class="scroll nav-stacked nav-active-skin">
                <ul class="nav">
                    <li class="nav-header hidden-folded">
                        <small class="text-muted">Nav</small>
                    </li>
                    <li>
                        <a href="#">
              <span class="nav-icon">
                <i class="icon-home"></i>
              </span>
                            <span class="nav-text">首 页</span>
                        </a>
                    </li>
                    <li>
                        <a>
              <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
              </span>
                            <span class="nav-label"><b class="label rounded label-sm skin">5</b></span>
                            <span class="nav-icon">
                <i class="icon-basket"></i>
              </span>
                            <span class="nav-text">购物车</span>
                        </a>
                    </li>
                    <li>
                        <a>
              <span class="nav-caret">
                <i class="fa fa-caret-down"></i>
              </span>
                            <span class="nav-icon">
                <i class="icon-clock"></i>
              </span>
                            <span class="nav-text">浏览记录</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
              <span class="nav-icon">
                <i class="icon-grid"></i>
              </span>
                            <span class="nav-text">常用功能</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div flex-no-shrink>
            <nav ui-nav>
                <ul class="nav">
                    <li><div class="b-b b m-v-sm"></div></li>
                    <li class="no-bg">
                        <a class="auto">
              <span class="nav-icon">
                <i class="icon-question"></i>
              </span>
                            <span class="nav-text">帮助</span>
                        </a>
                    </li>
                    <li class="no-bg">
                        <a>
              <span class="nav-icon">
                <i class="icon-share"></i>
              </span>
                            <span class="nav-text">
                <small class="block text-muted">分享</small>
              </span>
                        </a>
                    </li>
                    <li><div class="b-b b m-t-sm"></div></li>
                    <li class="no-bg">
                        <a>
              <span class="nav-icon">
                <i class="icon-power"></i>
              </span>
                            <span class="nav-text">退出登录</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- / aside -->