<!-- Main Container -->
<main id="main-container">
    <!-- Page Content -->
    <div class="content">
        <div class="row">
            <div class="col-sm-5 col-lg-3">
                <!-- Collapsible Inbox Navigation (using Bootstrap collapse functionality) -->
                <button class="btn btn-block btn-primary visible-xs push" data-toggle="collapse" data-target="#inbox-nav" type="button">菜单</button>
                <div class="collapse navbar-collapse remove-padding" id="inbox-nav">
                    <!-- Inbox Menu -->
                    <div class="block">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <button data-toggle="modal" data-target="#modal-compose" type="button"><i class="fa fa-pencil"></i> 写邮件</button>
                                </li>
                            </ul>
                            <h3 class="block-title">收件箱</h3>
                        </div>
                        <div class="block-content">
                            <ul class="nav nav-pills nav-stacked push">
                                <li class="active">
                                    <a href="base_pages_inbox.html">
                                        <span class="badge pull-right">3</span><i class="fa fa-fw fa-inbox push-5-r"></i> 收件箱
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="badge pull-right">48</span><i class="fa fa-fw fa-star push-5-r"></i> 收藏
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="badge pull-right">1480</span><i class="fa fa-fw fa-send push-5-r"></i> 已发送
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="badge pull-right">2</span><i class="fa fa-fw fa-pencil push-5-r"></i> 草稿
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="badge pull-right">1987</span><i class="fa fa-fw fa-folder push-5-r"></i> 已读
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="badge pull-right">10</span><i class="fa fa-fw fa-trash push-5-r"></i> 未知
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Inbox Menu -->

                    <!-- Friends -->
                    <div class="block">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <button type="button"><i class="si si-settings"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title">团队成员</h3>
                        </div>
                        <div class="block-content">
                            <ul class="nav-users push">
                                <li>
                                    <a href="base_pages_profile.html">
                                        <img class="img-avatar" src="__OENUI__/img/avatars/avatar3.jpg" alt="">
                                        <i class="fa fa-circle text-success"></i> Amy Hunter
                                        <div class="font-w400 text-muted"><small>Web Designer</small></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="base_pages_profile.html">
                                        <img class="img-avatar" src="__OENUI__/img/avatars/avatar12.jpg" alt="">
                                        <i class="fa fa-circle text-success"></i> Walter Fox
                                        <div class="font-w400 text-muted"><small>Graphic Designer</small></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="base_pages_profile.html">
                                        <img class="img-avatar" src="__OENUI__/img/avatars/avatar5.jpg" alt="">
                                        <i class="fa fa-circle text-warning"></i> Evelyn Willis
                                        <div class="font-w400 text-muted"><small>Photographer</small></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="base_pages_profile.html">
                                        <img class="img-avatar" src="__OENUI__/img/avatars/avatar16.jpg" alt="">
                                        <i class="fa fa-circle text-warning"></i> Vincent Sims
                                        <div class="font-w400 text-muted"><small>Copywriter</small></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="base_pages_profile.html">
                                        <img class="img-avatar" src="__OENUI__/img/avatars/avatar14.jpg" alt="">
                                        <i class="fa fa-circle text-danger"></i> Adam Hall
                                        <div class="font-w400 text-muted"><small>UI Designer</small></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Friends -->

                    <!-- Account -->
                    <div class="block">
                        <div class="block-header bg-gray-lighter">
                            <ul class="block-options">
                                <li>
                                    <button type="button"><i class="si si-settings"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title">账户</h3>
                        </div>
                        <div class="block-content text-center">
                            <!-- Easy Pie Chart (.js-pie-chart class is initialized in App() -> uiHelperEasyPieChart()) -->
                            <!-- For more info and examples you can check out http://rendro.github.io/easy-pie-chart/ -->
                            <div class="js-pie-chart pie-chart push" data-percent="35" data-line-width="3" data-size="100" data-bar-color="#abe37d" data-track-color="#eeeeee" data-scale-color="#dddddd">
                                            <span>
                                                <img class="img-avatar" src="__OENUI__/img/avatars/avatar10.jpg" alt="">
                                            </span>
                            </div>
                            <a class="block block-bordered block-link-hover3" href="javascript:void(0)">
                                <table class="block-table text-center">
                                    <tbody>
                                    <tr>
                                        <td class="border-r" style="width: 50%;">
                                            <div class="push-30 push-30-t">
                                                <i class="si si-like fa-3x"></i>
                                            </div>
                                        </td>
                                        <td style="width: 50%;">
                                            <div class="h2 font-w700"><span class="h2 text-muted">+</span> 2.5TB</div>
                                            <div class="h5 text-muted text-uppercase push-5-t">Upgrade Now</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </a>
                        </div>
                    </div>
                    <!-- END Account -->
                </div>
                <!-- END Collapsible Inbox Navigation -->
            </div>
            <div class="col-sm-7 col-lg-9">
                <!-- Message List -->
                <div class="block">
                    <div class="block-header bg-gray-lighter">
                        <ul class="block-options">
                            <li>
                                <button class="js-tooltip" title="上一页" type="button" data-toggle="block-option"><i class="si si-arrow-left"></i></button>
                            </li>
                            <li>
                                <button class="js-tooltip" title="下一页" type="button" data-toggle="block-option"><i class="si si-arrow-right"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"></button>
                            </li>
                        </ul>
                        <div class="block-title text-normal">
                            <strong>15-30</strong> <span class="font-w400">总共</span> <strong>700</strong>封邮件
                        </div>
                    </div>
                    <div class="block-content">
                        <!-- Messages Options -->
                        <div class="push">
                            <button class="btn btn-default pull-right" type="button"><i class="fa fa-times text-danger push-5-l push-5-r"></i> <span class="hidden-xs">删除</span></button>
                            <div class="btn-group">
                                <button class="btn btn-default" type="button"><i class="fa fa-archive text-primary push-5-l push-5-r"></i> <span class="hidden-xs">标记已读</span></button>
                                <button class="btn btn-default" type="button"><i class="fa fa-star text-warning push-5-l push-5-r"></i> <span class="hidden-xs">收藏</span></button>
                            </div>
                        </div>
                        <!-- END Messages Options -->

                        <!-- Messages & Checkable Table (.js-table-checkable class is initialized in App() -> uiHelperTableToolsCheckable()) -->
                        <div class="pull-r-l">
                            <table class="js-table-checkable table table-hover table-vcenter">
                                <tbody>
                                <tr>
                                    <td class="text-center" style="width: 70px;">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input type="checkbox"><span></span>
                                        </label>
                                    </td>
                                    <td class="hidden-xs font-w600" style="width: 140px;">发件人</td>
                                    <td>
                                        <a class="font-w600" data-toggle="modal" data-target="#modal-message" href="#">邮件标题</a>
                                        <div class="text-muted push-5-t">摘要...</div>
                                    </td>
                                    <td class="visible-lg text-muted" style="width: 80px;">
                                        <i class="fa fa-paperclip"></i> (附件个数3)
                                    </td>
                                    <td class="visible-lg text-muted" style="width: 120px;">
                                        <em>2 分钟之前</em>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END Messages -->
                    </div>
                </div>
                <!-- END Message List -->
            </div>
        </div>
    </div>
    <!-- END Page Content -->
</main>
<!-- END Main Container -->

<!-- Compose Modal -->
<div class="modal fade" id="modal-compose" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-success">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title"><i class="fa fa-pencil"></i> 写邮件</h3>
                </div>
                <div class="block-content">
                    <form class="form-horizontal push-10-t push-10" action="base_pages_inbox.html" method="post" onsubmit="return false;">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-success floating input-group">
                                    <input class="form-control" type="email" id="message-email" name="message-email">
                                    <label for="message-email">Email</label>
                                    <span class="input-group-addon"><i class="si si-envelope-open"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-success floating input-group">
                                    <input class="form-control" type="text" id="message-subject" name="message-subject">
                                    <label for="message-subject">标题</label>
                                    <span class="input-group-addon"><i class="si si-book-open"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-success floating">
                                    <textarea class="form-control" id="message-msg" name="message-msg" rows="6"></textarea>
                                    <label for="message-msg">请输入内容</label>
                                </div>
                                <div class="help-block text-right">可以随意使用HTML普通标签: &lt;blockquote&gt;, &lt;strong&gt;, &lt;em&gt;</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-send push-5-r"></i> 立即发送</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Compose Modal -->

<!-- Message Modal -->
<div class="modal fade" id="modal-message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-popout">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-toggle="tooltip" data-placement="left" title="Reply" type="button"><i class="si si-action-undo"></i></button>
                        </li>
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">邮件标题</h3>
                </div>
                <div class="block-content block-content-full bg-image text-center" style="background-image: url('__OENUI__/img/photos/photo7.jpg');">
                    <img class="img-avatar img-avatar96 img-avatar-thumb" src="__OENUI__/img/avatars/avatar4.jpg" alt="">
                </div>
                <div class="block-content block-content-full block-content-mini bg-gray-lighter">
                    <span class="font-s13 text-muted pull-right"><em>2 分钟前</em></span>
                    <a class="font-s13" href="javascript:void(0)">1078509454@qq.com</a>
                </div>
                <div class="block-content">
                    <p>邮件内容</p>
                    <p>邮件内容</p>
                    <p>邮件内容</p>
                    <p>邮件内容</p>
                    <p>邮件内容</p>
                    <p>邮件内容</p>
                </div>
                <div class="block-content bg-gray-lighter">
                    <div class="row items-push">
                        <div class="col-sm-4">
                            <div class="img-container fx-img-zoom-in">
                                <img class="img-responsive" src="__OENUI__/img/photos/photo1.jpg" alt="">
                                <div class="img-options">
                                    <div class="img-options-content">
                                        <a class="btn btn-sm btn-default" href="javascript:void(0)"><i class="fa fa-download"></i> 下载</a>
                                    </div>
                                </div>
                            </div>
                            <div class="font-s13 text-muted push-5-t">附件01.jpg</div>
                        </div>
                        <div class="col-sm-4">
                            <div class="img-container fx-img-zoom-in">
                                <img class="img-responsive" src="__OENUI__/img/photos/photo2.jpg" alt="">
                                <div class="img-options">
                                    <div class="img-options-content">
                                        <a class="btn btn-sm btn-default" href="javascript:void(0)"><i class="fa fa-download"></i> 下载</a>
                                    </div>
                                </div>
                            </div>
                            <div class="font-s13 text-muted push-5-t">附件02.jpg</div>
                        </div>
                        <div class="col-sm-4">
                            <div class="img-container fx-img-zoom-in">
                                <img class="img-responsive" src="__OENUI__/img/photos/photo3.jpg" alt="">
                                <div class="img-options">
                                    <div class="img-options-content">
                                        <a class="btn btn-sm btn-default" href="javascript:void(0)"><i class="fa fa-download"></i> 下载</a>
                                    </div>
                                </div>
                            </div>
                            <div class="font-s13 text-muted push-5-t">附件03.jpg</div>
                        </div>
                        <div class="col-sm-4">
                            <div class="img-container fx-img-zoom-in">
                                <img class="img-responsive" src="__OENUI__/img/photos/photo3.jpg" alt="">
                                <div class="img-options">
                                    <div class="img-options-content">
                                        <a class="btn btn-sm btn-default" href="javascript:void(0)"><i class="fa fa-download"></i> 下载</a>
                                    </div>
                                </div>
                            </div>
                            <div class="font-s13 text-muted push-5-t">附件04.jpg</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Message Modal -->