{__NOLAYOUT__}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>登录 - Momo后台管理 </title>

    <meta name="description" content="OneUI - Admin Dashboard Template & UI Framework">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="__OENUI__/img/favicons/favicon.png">

    <link rel="icon" type="image/png" href="__OENUI__/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="__OENUI__/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="__OENUI__/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="__OENUI__/img/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="__OENUI__/img/favicons/favicon-192x192.png" sizes="192x192">

    <link rel="apple-touch-icon" sizes="57x57" href="__OENUI__/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="__OENUI__/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="__OENUI__/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="__OENUI__/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="__OENUI__/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="__OENUI__/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="__OENUI__/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="__OENUI__/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="__OENUI__/img/favicons/apple-touch-icon-180x180.png">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Web fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- OneUI CSS framework -->
    <link rel="stylesheet" id="css-main" href="__OENUI__/css/oneui.css">
    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="__OENUI__/css/themes/flat.min.css"> -->
    <!-- END Stylesheets -->
</head>
<body>
<!-- Login Content -->
<div class="content overflow-hidden">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <!-- Login Block -->
            <div class="block block-themed animated fadeIn">
                <div class="block-header bg-primary">
                    <ul class="block-options">
                        <li>
                            <a href="base_pages_reminder.html">忘记密码了?</a>
                        </li>
                        <li>
                            <a href="base_pages_register.html" data-toggle="tooltip" data-placement="left" title="新建用户"><i class="si si-plus"></i></a>
                        </li>
                    </ul>
                    <h3 class="block-title">后台登录</h3>
                </div>
                <div class="block-content block-content-full block-content-narrow">
                    <!-- Login Title -->
                    <h1 class="h2 font-w600 push-30-t push-5">Momo</h1>
                    <p>欢迎使用Momo, 请您先登录.</p>
                    <!-- END Login Title -->

                    <!-- Login Form -->
                    <!-- jQuery Validation (.js-validation-login class is initialized in js/pages/base_pages_login.js) -->
                    <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                    <form class="js-validation-login form-horizontal push-30-t push-50" method="post">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                    <input class="form-control" type="text" id="login-username" name="login-username">
                                    <label for="login-username">用户名</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-primary floating">
                                    <input class="form-control" type="password" id="login-password" name="login-password">
                                    <label for="login-password">密码</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <!--<input id="code" type="text" placeholder="验证码" class="form-control ">-->
                                <div class="form-material form-material-primary floating">
                                    <input class="form-control" type="text" id="login-code" name="login-code">
                                    <label for="login-password">验证码</label>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <img id="verify-img" src="{:url('admin/login/verify')}" onclick="refreshVerify()"  alt="验证码" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="css-input switch switch-sm switch-primary">
                                    <input type="checkbox" id="login-remember-me" name="login-remember-me"><span></span> 记住登陆?
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <button class="btn btn-block btn-primary" id="login" type="submit"><i class="si si-login pull-right"></i> 登录</button>
                            </div>
                        </div>
                    </form>
                    <!-- END Login Form -->
                </div>
            </div>
            <!-- END Login Block -->
        </div>
    </div>
</div>
<!-- END Login Content -->

<!-- Login Footer -->
<div class="push-10-t text-center animated fadeInUp">
    <small class="text-muted font-w600"></span> 2017 &copy; Momo 1.0</small>
</div>
<!-- END Login Footer -->

<!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
<script src="__OENUI__/js/core/jquery.min.js"></script>
<script src="__OENUI__/js/core/bootstrap.min.js"></script>
<script src="__OENUI__/js/core/jquery.slimscroll.min.js"></script>
<script src="__OENUI__/js/core/jquery.scrollLock.min.js"></script>
<script src="__OENUI__/js/core/jquery.appear.min.js"></script>
<script src="__OENUI__/js/core/jquery.countTo.min.js"></script>
<script src="__OENUI__/js/core/jquery.placeholder.min.js"></script>
<script src="/static/layer/layer.js" type="text/javascript"></script>
<script src="__OENUI__/js/core/js.cookie.min.js"></script>
<script src="__OENUI__/js/app.js"></script>

<!-- Page JS Plugins -->
<script src="__OENUI__/js/plugins/jquery-validation/jquery.validate.min.js"></script>

<!-- Page JS Code -->
<script src="__OENUI__/js/pages/base_pages_login.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //登录操作
        $('#login').click(function(){
            var username=$('#login-username').val();
            var password=$("#login-password").val();
            var verify=$("#login-code").val();
            var ts = Date.parse(new Date())/1000;
            if(username!=""&&password!=""&&verify!=""){
                $("#login").html("登录中...").attr("disabled", true);
                $.ajax({
                    type:"post",
                    url:"{:url('admin/login/login')}",
                    dataType:"json",
                    data:{
                        "username":username,
                        "password":password,
                        "code":verify
                    },
                    success:function(data){
                        if(data.code == 1){
                            $("#login").html(data.msg);
                            window.location.href=data.data;
                        }else {
                            $("#login").html(data.msg).attr("disabled", false);
                            $('#verify-img').attr("src", "{:url('admin/login/verify')}?id="+ts);
                            layer.alert(data.msg, {icon: 5});
                        }
                    }
                })
            }else{
                layer.alert("请检查您的输入！", {icon: 5});
                $('#verify-img').attr("src", "{:url('admin/login/verify')}?id="+ts);
                // $("#login").append("请检查您的输入！");
            }
        })
    });
    function refreshVerify() {
        var ts = Date.parse(new Date())/1000;
        $('#verify-img').attr("src", "{:url('admin/login/verify')}?id="+ts);
    }
</script>
</body>
</html>